.Grad1 {
  position: absolute;
  background: linear-gradient(165deg, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 70%,rgba(225,225,225,1) 71%,rgba(246,246,246,1) 100%);
  min-width: 100%;
  min-height: 100%;
}
.Grad2 {
  position: absolute;
  background: linear-gradient( 30deg, rgba(255, 1, 183, 0.48) 0%,rgba(255, 145, 15, 0.60) 100%);
  min-width: 100%;
  min-height: 100%;
}

.App-logo {
  position: absolute;
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header{
  height: 70px;
  position: fixed;
  top: 0px;
  width: 100%;
  background: rgba(0, 0, 0, 0.87);
}

.App-header > p {
  position: absolute;
  text-align: left;
  margin-top: 20px;
  padding-left: 20px;
  color: white;
  font-size: 30px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.mainRoutes{
  margin-top: 20px;
  margin-right: 20px;
}

.mainRoutes > a {
  display: block;
  float: right;
  margin-right: 10px;
}

.route-wrap{
  margin-top: 50px;
  position: relative;
}

body{
  font-family: Raleway;
}